<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% if title is defined %}{{ title }} - {% endif %}Darts Football Predictions League</title>
        <link rel="stylesheet" href="{{ asset("build/js/app.css") }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Darts Football Predictions League</h1>
                    <p class="lead">Last updated x ago.</p>
                </div>
            </div>
            {% if title is defined %}<h1>{{ title }}</h1>{% endif %}
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
