<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset("build/js/app.css") }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% if title is defined %}<h1>{{ title }}</h1>{% endif %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
