{% extends "base.html.twig" %}

{% set title = "Darts Football Prediction League" %}

{% block body %}
     {% for entrant in entrants %}
          <a href="{{ path("app_entrant_show", { "id": entrant.id }) }}">{{ entrant.name }}</a> - {{ entrant.score }}<br>
     {% endfor %}
{% endblock %}